.card.mt-3
    .card-header
        h3.card-title.d-inline-block.mb-0.align-bottom Konsole
        button#clearConsole.btn.btn-sm.btn-dark.ml-3 Clear
    .card-body
        #consoleWrapper.card-text.overflow-auto(style='height: 325px; position:relative')
            #console.h-100
