doctype html
head
  meta(charset='UTF-8')
  base(target='_blank')
  title=`Elasticsearch workshop - ${title}`
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet', href='/libs/github.css')
  link(rel='stylesheet', href='/libs/bootstrap.min.css')
  link(rel='icon', href='/img/elastic-search-logo-color-reverse.png' type='image/x-icon')
  script(src='/libs/jquery-3.5.1.min.js')
  script(src='/libs/popper.min.js')
  script(src='/libs/bootstrap.min.js')
  script(src='/js/base.js')
html
  body
    include header
    main.container-fluid.px-5
      block content
