.card.mb-3
    .card-header
        h3.card-title.d-inline-block.mb-0.align-bottom=`${title} - Aufgabenstellung`
        #hideTaskBtn.btn.btn-sm.btn-dark.float-right Umschalten
    #taskDefinition
        .card-body.py-2.d-inline-flex.align-items-center(data-task_no=`${taskNo}`)
            each part in taskDefinition
                .align-text-top.pr-4
                    | !{part}
