extends ../00_partials/layout
block content
  script(src='/js/task_1.js')
  include ../00_partials/taskDefinition
  hr
  .pl-3
    button#insertBulk.btn.btn-info(type='button') Insert bulk data
  hr
  include ../00_partials/console
